{% extends 'base.html' %}
    
{% block title %}Préstamos{% endblock %}

{% block content %}  

<div class="conte" >
    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-body-tertiary">
        <h1 class="fw-normal ">Cálculo Estimado</h3> <br>
        <p class="lead">Monto del Préstamo (MXN$)</p>
        
        <div><p>Número de Pagos</p>
            <p>Plan de Pagos</p>
            <p>Tasa de interés Mensual</p>
            <p>Monto Total de Pago</p>
        </div>
        <div>
            <p>2 mes(es)</p>
            <p>28 sep. MXN$1000</p>
            <p>5%-12%</p>
            <p>MXN$10,515</p>
        </div>
        
        <button class="purple-button"><a class="primerlink" href="#">Solicitar préstamo</a></button>

    </div>
</div>

{% endblock %}  
